/* Variables */
$color-blue: #3535ec;
$color-darkblue: #120945;
$color-gray: #d4d7f5;
$color-green: #306753;
$color-pink: #de7eb6;
$color-yellow: #f2ad41;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
